.logo img{
    height: 50px;
    width: 50px;
}
.nav-container a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
    margin-right: 10px;
}
.user img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.nav-container{
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .nav-container{
        flex-direction: column;

    }   
    .nav-container > p{
        margin-bottom: 5px !important;
    } 
    .logo-text{
        font-size: 20px;
    }
}
