.footer{
    background-color: #141414;
}
.subscribe-btn{
    border: none;
    background-color: #ee8235;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    

}
.footer-text a{
    text-decoration: none;
    color: #ee8235;
    font-size: 18px;
    font-weight: 700;
    
}